In [18]:
import os, sys
sys.path.append('..')
sys.path.append('../../')

import glob
import pandas as pd
from tqdm import tqdm
import numpy as np
from sklearn.model_selection import train_test_split
from scipy.sparse import csr_matrix
from pandas.api.types import CategoricalDtype
import json

import config as conf

In [19]:
data_path = '../tmp/'

In [20]:
user_read_data = data_path + 'all'

In [21]:
urd = pd.read_csv(user_read_data)

In [22]:
len(urd)

306208

In [23]:
user_lst = []
read_lst = []

In [24]:
with open(user_read_data, 'r') as file :
    for line in tqdm(file, mininterval = 1) :
        user_read = line.split(" ")
        user_id = user_read[0]
        read_set = set()
        for article in user_read[1:]:
            if article[0] == "#" :
                continue
            read_set.add(article)
    
        if len(read_set) >= 1 :
            user_lst.append(user_id)
            read_lst.append(' '.join(list(read_set)))

306209it [00:07, 38471.87it/s]

In [25]:
user_lst[0]

'#bfc17aa1eed7f6e1993aaeac8333bdb9'

In [26]:
read_lst[0]

'@bestkkim_45 @yooncohg_66\n @wikitree_675 @mongul-mongul_76 @windydog_189 @eunga_39 @leejarak_209 @toosim_172 @nplusu_49 @younghurckc_966 @yooncohg_66 @windydog_193 @namulab_20 @trank_265 @eundang_472 @bookguru_29'

In [27]:
print(len(read_lst))

305862

In [28]:
df_temp = pd.DataFrame({'user_id' : user_lst,
                        'article_id' : read_lst})

In [29]:
import re
def clean_text(sent):
    sent_clean = re.sub("[\n]", " ", sent)
    return sent_clean

In [30]:
df_temp['article_id'] = df_temp['article_id'].apply(lambda x: clean_text(x))

In [36]:
df_temp

,user_id,article_id
0,#bfc17aa1eed7f6e1993aaeac8333bdb9,@bestkkim_45 @yooncohg_66 @wikitree_675 @mong...
1,#1d68c0320dad496c3f05dd862e543a8b,@noey_130 @tenbody_1693 @hygo92_91 @lcjaewon_1...
2,#7411fe2ebde59b981f7b9e22c153b3bb,@partnerswkakao_43 @dimension-value_35 @soonky...
3,#45104ed2c8ccb8905753617109f3776e,@readingboy_76 @or-dinary_42 @bryceandjuli_130...
4,#b4990f775b46463f33a9a60369149511,@fernweh19xx_35 @yangpayangpa_583 @jonnaalive_...
...,...,...
305857,#d92cf966fd4901ef851a047d72fa35d3,@brunch_151 @brunch_151
305858,#6ec81724546b04ff280bf26c603b3096,@goodrain_2 @goodrain_72 @goodrain_70 @goodrai...
305859,#a79bfd93e8e824e4b7f7810b27c9000e,@intel007_91
305860,#6bf76601814bda659db04800a150857f,@hss730_40 @hss730_45 @hss730_50 @hss730_43 @h...
305861,#1a583e972d0bf9d2aafabd5721e1fe27,@wonderlandmag_11 @wootaiyoung_85 @wonderland...

In [32]:
len(df_temp['user_id'].unique())

305862

In [33]:
len(list(set(read_lst)))

276955

In [37]:
df_temp.to_csv(conf.data + 'all.csv', index=False)