In [29]:
import os
import pandas as pd
import json

data_path = '../res/'
output_path = '../data/'

In [20]:
read_path = data_path + 'read/'

read_file_list = os.listdir(read_path)
exclude_file_list = ['.2019010120_2019010121.un~']
read_df_list = []

for f in read_file_list:
    file_name = os.path.basename(f)
    if file_name in exclude_file_list:
        print(file_name)
    else:
        df_temp = pd.read_csv(read_path+f, header=None, names=['raw'])
        df_temp['dt'] = file_name[:8] # 읽은 날짜
        df_temp['hr'] = file_name[8:10] # 읽은 시간
        df_temp['user_id'] = df_temp['raw'].str.split(' ').str[0] # 유저 id
        df_temp['article_id'] = df_temp['raw'].str.split(' ').str[1:].str.join(' ').str.strip() # 해당 유저가 읽은 글 id
        read_df_list.append(df_temp)
        
read = pd.concat(read_df_list)
read.head()

.2019010120_2019010121.un~

,raw,dt,hr,user_id,article_id
0,#e208be4ffea19b1ceb5cea2e3c4dc32c @kty0613_91,20181001,00,#e208be4ffea19b1ceb5cea2e3c4dc32c,@kty0613_91
1,#0a3d493f3b2318be80f391eaa00bfd1c @miamiyoung_...,20181001,00,#0a3d493f3b2318be80f391eaa00bfd1c,@miamiyoung_31 @banksalad_49 @rlfrjsdn_95 @rea...
2,#b90d3ee7ed0d7d827aae168e159749f1 @joeunha_4 @...,20181001,00,#b90d3ee7ed0d7d827aae168e159749f1,@joeunha_4 @yoonvi_3
3,#b8b9d09fe2961fd62edc94912bf75a90 @hyejinchoi_...,20181001,00,#b8b9d09fe2961fd62edc94912bf75a90,@hyejinchoi_122 @hyejinchoi_86 @hyejinchoi_42 ...
4,#072f742eda9359cdac03ad080193c11d @doyeonsunim...,20181001,00,#072f742eda9359cdac03ad080193c11d,@doyeonsunim_240 @k52524_297 @bule13_33 @kwong...

In [21]:
read = read[read['article_id']!=''] # 무슨 의미?

In [22]:
read.head()

,raw,dt,hr,user_id,article_id
0,#e208be4ffea19b1ceb5cea2e3c4dc32c @kty0613_91,20181001,00,#e208be4ffea19b1ceb5cea2e3c4dc32c,@kty0613_91
1,#0a3d493f3b2318be80f391eaa00bfd1c @miamiyoung_...,20181001,00,#0a3d493f3b2318be80f391eaa00bfd1c,@miamiyoung_31 @banksalad_49 @rlfrjsdn_95 @rea...
2,#b90d3ee7ed0d7d827aae168e159749f1 @joeunha_4 @...,20181001,00,#b90d3ee7ed0d7d827aae168e159749f1,@joeunha_4 @yoonvi_3
3,#b8b9d09fe2961fd62edc94912bf75a90 @hyejinchoi_...,20181001,00,#b8b9d09fe2961fd62edc94912bf75a90,@hyejinchoi_122 @hyejinchoi_86 @hyejinchoi_42 ...
4,#072f742eda9359cdac03ad080193c11d @doyeonsunim...,20181001,00,#072f742eda9359cdac03ad080193c11d,@doyeonsunim_240 @k52524_297 @bule13_33 @kwong...

In [25]:
read.to_csv(output_path + 'read.csv', index=False)

In [30]:
predict_path = data_path + "predict/"
dev = pd.read_csv(predict_path+'dev.users', names=['id'])
test = pd.read_csv(predict_path+'test.users', names=['id'])

In [31]:
dev.to_csv(output_path + 'dev.csv', index=False)
test.to_csv(output_path + 'test.csv', index=False)